* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    225deg,
    white 0%,
    rgba(0, 0, 255, 0.3),
    rgba(128, 0, 128, 0.6),
    rgba(128, 0, 128, 0.7),
    rgba(128, 0, 128, 0.7)
  );
}
#nav {
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 14px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  z-index: 10;
}
.logo-sec {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-weight: bold;
  color: rgba(128, 0, 128, 0.9);
  font-family: sans-serif;
  font-size: 34px;
}
.right-side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
}
.right-side a {
  padding: 10px 20px;
  font-size: 0.95em;
  text-decoration: none;
  color: black;
}
#home {
  height: 100vh;
  gap: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#jj {
  padding: 0.7em 1.8em;
  background: linear-gradient(
    to right,
    rgba(0, 0, 255, 0.8),
    rgba(128, 0, 128, 0.5)
  );
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 9px;
  transition: 0.2s;
}
#jj:hover,
#learn:hover {
  gap: 8px;
}
#opening {
  display: flex;
  font-size: 90px;
  font-weight: bold;
  gap: 20px;
  align-items: center;
}
.me {
  background: linear-gradient(rgba(0, 0, 255, 0.9), rgba(128, 0, 128, 0.9));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#sub {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.action {
  display: flex;
  gap: 10px;
}
.action a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px 24px;
  background: blue;
  transition: 0.2s;
}
#he {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#about {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
#text {
  width: 100%;
  height: 20vh;
  font-size: 52px;
  line-height: 14px;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
#meme {
  height: 80vh;
  position: relative;
}
#hh {
  position: absolute;
  bottom: 0;
  right: 200px;
  border-radius: 30px;
  height: 100%;
  width: 20%;
}
#Pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
#FAQs {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 10px;
  width: 100%;
}
.faq-sec{
  flex-direction: column;
  height: 70vh;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line{
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 70%;
  border-radius: 15px;
  padding: 20px;
  gap: 14px;
  background: white;
}
.question{
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.answers{
 font-size: 16px; 
}
.price {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 6fr 1fr;
  width: 25%;
  border-radius: 24px;
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(10px);
}
#ss {
  height: 20vh;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 60px;
  justify-content: center;
  width: 100%;
  text-align: center;
}
#ms {
  gap: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}
#top {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  color: black;
  font-weight: bold;
}
#btnsec {
  display: flex;
  justify-content: center;
  align-items: center;
}
#btnsec a {
  text-decoration: none;
  color: white;
}
#jje {
  padding: 0.5em 1.8em;
  border-radius: 8px;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 255, 0.767),
    rgba(128, 0, 128, 0.685)
  );
}
.box{
  width: 350px;
  height: 320px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  background-clip: blur(20px);
  border-radius: 20px;
  transition: 0.3s;
}
.box:hover{
  transform: scale(1.02);
 background: rgba(255, 255, 255, 0.25);
 border-radius: 25px;
}
#one{
  bottom: 0%;
  left: 10%;
}
#two{
  bottom: 0%;
  left: 40%;
}
#cont{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
#three{
  top: 5%;
  left: 25%;
}
#ne{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  height: 40%;
  font-size: 22px;
  background: linear-gradient(to right, purple, blue);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
#ne i{
  font-size: 25px;
}
#me{
  line-height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
  font-size: 18px;
}