* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#nav {
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 14px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  z-index: 10;
}
.logo-sec {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  font-weight: bold;
  font-size: 30px;
}
.right-side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 14px;
}
.right-side a {
  padding: 10px 20px;
  font-size: 0.95em;
  text-decoration: none;
  color: black;
}
#home {
  height: 100vh;
  gap: 34px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.039),
    rgba(0, 0, 255, 0.2),
    rgba(128, 0, 128, 0.3)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#jj {
  padding: 0.7em 1.8em;
  background: linear-gradient(
    to right,
    rgba(0, 0, 255, 0.8),
    rgba(128, 0, 128, 0.5)
  );
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 9px;
  transition: 0.2s;
}
#jj:hover,
#learn:hover {
  gap: 8px;
  transition: 0.2s;
}
#opening {
  display: flex;
  font-size: 80px;
  font-weight: bold;
  gap: 20px;
  align-items: center;
}
.me {
  background: linear-gradient(rgba(0, 0, 255, 0.9), rgba(128, 0, 128, 0.9));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#sub {
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.action {
  display: flex;
  gap: 10px;
}
.action a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px 24px;
  background: blue;
  transition: 0.2s;
}
#he {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pay {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.039),
    rgba(128, 0, 128, 0.288)
  );
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#text {
  font-size: 45px;
  font-weight: bold;
}
.ms {
  display: flex;
  gap: 100px;
}
.long {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  padding-right: 10px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  height: 60vh;
  background: white;
  width: 380px;
  border-radius: 20px;
}
.check {
  display: flex;
  gap: 6px;
}
#me {
  font-weight: bold;
  font-size: 30px;
  padding-top: 30px;
}
#price {
  font-size: 60px;
}
.check {
  font-size: 18px;
}
.fa-check {
  color: green;
}
.cc {
  display: flex;
  align-self: center;
  font-size: 16px;
  justify-content: center;
  border-radius: 6px;
  padding: 8px 26px;
  margin-top: 10px;
  color: white;
  background: linear-gradient(
    to right,
    rgba(0, 0, 255, 0.7),
    rgba(128, 0, 128, 0.7)
  );
  cursor: pointer;
}
#dsa{
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 4px;
  font-size: 22px;
}
#email{
  width: 40%;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  padding: 20px;
}
.ff{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/*Sample.html*/

.main{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.box{
  height: 400px;
  width: 600px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
#de{
  padding-top: 20px;
  font-size: 20px;
}
#status{
  padding-top: 10px;
}
#cover{
  display: flex;
  width: 70%;
  padding: 14px;
  border-radius: 5px;
  margin-top: 20px;
  justify-content: space-between;
  border: 1px solid gray;
}
.box img{
  margin-top: 20px;
}